
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2027b4;
    color: #fff;
}
header {
    background-color: #2027b4;
    color: #dbdbe3;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #71befc;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 100px;
    height: 20px
}
nav a:hover {
    background-color: #7a6eb0;
}
.container {
    padding: 20px;
}
.featured-products, .categories, .contact {
    margin-bottom: 20px;
}
.product, .category {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.footer {
    background-color: #71befc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.header {
    background-image: url('title_image.jpg');
    height: 27.5vh;
  }

.li {
    color: #fff;


}




